.post {
  padding: 3rem 0;

  > .about {
    text-align: left;
    > p {
      text-align: left;
      &.head {
        font-weight: bold;
        margin-bottom: 3px;
      }
      > img {
        margin-bottom: 90px;
      }
    }
  }

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $serif-primary;
    font-size: 3.5rem;
    margin: .5rem 0 1rem;
    text-align: center;
  }

  &-line {
    border-top: .2rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  p {
    font-size: .9rem;
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover { text-decoration: underline; }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .post {
    > .about {
      text-align: left;
      > p {
        text-align: left;
        > img {
          width: 80% !important;
          margin-bottom: 50px;
        }
      }
    }
  }
}
