
// Font Size
@mixin fz($size){
	font-size: round($size / 16 * 100%);
}

@mixin ttl($fz:13){

	text-align: center;
	@include fz($fz);

}

@mixin float($f) {
	@if $f == 'fl' {
		float: left;
	} @else if $f == 'fr' {
		float: right;
	}
}

@mixin hidden() {
	display: none;
}

// Box Set
@mixin txtBox($p: 5px, $m: 0 0 10px 0){

	padding: $p;
	margin: $m;

}

@mixin box($w: 100px, $p: 10px, $m: 0 0 10px 0, $bgColor: #fff ){

	width: $w;
	padding: $p;
	margin: $m;
	background-color: $bgColor;

}

@mixin minBox($w: 100px, $h: 100px, $p: 10px, $m: 0 0 10px 0, $bgColor: #fff ){

	width: $w;
	min-height: $h;
	_height: auto !important;
	_height: $h;
	padding: $p;
	margin: $m;
	background-color: $bgColor;

}

// background-size
@mixin bg_size($w, $h:auto) {

	@each $pf in $prefixList {
		#{$pf}background-size: $w $h;
	}

}

// h2 ttl module
@mixin headGroup($fontsize, $color, $bgColor ){

	$txtcolor: adjust-lightness($color, -60);

	color: $color;
	background-color: $bgColor;
	text-shadow: 1px 1px 1px $txtcolor;

	@include ttl($fontsize);

}

// Border
@mixin border( $coordinates: 0 0 0 0, $colour: #000000, $style: solid ) {

	$top: nth($coordinates, 1);
	$right: nth($coordinates, 2);
	$bottom: nth($coordinates, 3);
	$left: nth($coordinates, 4);

	@if not(unitless($top)) {
		border-top: $top $style $colour;
	}
	@if not(unitless($right)) {
		border-right: $right $style $colour;
	}
	@if not(unitless($bottom)) {
		border-bottom: $bottom $style $colour;
	}
	@if not(unitless($left)) {
	 	border-left: $left $style $colour;
	}

}

@mixin flatBtn($h, $lh){
	display:block;
  position:relative;
  color:#fff;
  height: $h + px;
  line-height: $lh + px;
	@each $pf in $prefixList {
		#{$pf}box-sizing: border-box;
		#{$pf}border-radius: 4px;
	}
}

@mixin circle($rw, $rh){
	width: $rw;
  height: $rh;
  position: absolute;
  @each $pf in $prefixList {
		#{$pf}border-radius: 50%;
	}
}

@mixin uniBoxtop($ll,$lr,$lbl,$lbr){
	border-top-left-radius: $ll;
	border-top-right-radius: $lr;
	border-bottom-left-radius: $lbl;
	border-bottom-right-radius: $lbr;
}

