#cd {
  .cdBlock { @include clx; }

  .kitune {
    float: left;
    width: 50%;
    padding-bottom: 10px;
    @include clx;
    .kkCdImage {
      float: left;
      width: 50%;
      > span {
        display: block;
        color: red;
        font-size: 116%;
        text-align: center;
      }
      > img {
        width: 140px;
        margin: 20px auto 10px;
        padding: 0 15px;
        display: block;
      }
    }
    .kkCdList {
      float: left;
      width: 50%;
      > dl {
        margin: 20px 0 20px 0;
        dt {
          font-weight: 400;
          padding-bottom: 2px;
        }
        dd {
          font-weight: bold;
        }
      }
      ul {
        list-style-type: none;
        li {
          padding: 2px 0;
          line-height: 1.2em;
          a {
            display: inline;
            letter-spacing: -0.1;
            color: #666;
            text-decoration: none;
            &:hover {
              display: inline;
              letter-spacing: -0.1;
              color: #00aadd;
              text-decoration: none;
            }
          }
          &:last-child {
            display: block;
            margin-top: 7px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #cd {

    .kitune {
      float: none;
      width: 100%;
      border-bottom: 1px dashed #ddd;
      margin-bottom: 1.4rem;
      padding-bottom: 1.4rem;
      &:last-child {}
      .kkCdImage {
        float: none;
        width: 100%;
      }
      .kkCdList {
        float: none;
        width: 100%;
        text-align: center;
      }
    }
  }
}
