---
layout: default
---

<div class="post">
  <div class="post-info">
    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>


  <div class="about">
    <p>
      <img src="{{ site.baseurl }}/assets/kk.jpg" width="27%" alt="金田貴和子">
    </p>

    <p>新潟県村上市出身<br>
    雪の多い山間の集落に生まれ育つ</p>

    <p>B型、息子ひとり<br>
    子育てをしながらフィルムカメラで撮影したり、イラストを描いたりして過ごす</p>

    <p>
    5歳からピアノを弾く<br>
    2003年より自宅録音を始める<br>
    国内やギリシャでアルバムをリリース</p>

    <p>ギター、うた他、いろいろな楽器を演奏する<br>
    ぼんやりと即興で音を鳴らすことが好き<br>
    歌詞があるものもあるが、ことばを習得する前のこどものような発声としての歌も多い</p>

  </div>

</div>


<div class="pagination">
  <a href="#" class="top">top</a>
</div>
