
// hidden
.hidden { @include hidden(); }

// clearfix
.clx {
  display: block;
  min-height: 1%;
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}

* html .clx {
  height: 1%;
  /*\*/
  /*/
  height: auto;
  overflow: hidden;
  /**/
}

@if $generalStyle {

	%fl { float: left;}

	%fr { float: right;}

}

@if $spaceClass {

	@for $i from 0 through $endValue {

		.mt#{$i * 5} {
			margin-top: 5px * $i !important;
		}

		.mb#{$i * 5} {
			margin-bottom: 5px * $i !important;
		}

		@if $spacePadding {

			.pt#{$i * 5} {
				padding-top: 5px * $i !important;
			}

			.pb#{$i * 5} {
				padding-bottom: 5px * $i !important;
			}

		}
	}
}

